@font-face{
    font-family: minecraft;
    src: url('Minecraft.ttf');
}
body {
    background-image: url(../img/background3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #A0CEFF;
    font-family: 'Roboto', sans-serif;
    
}
.backgroundDiv {
    width: 60rem;
    min-height: 40rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2%;
    margin: 0 auto;
    padding: 0.5rem;
}
.title {
    text-align: center;
    margin: 2rem;
    font-size: 5rem;
}
.bigBtn {
    display: inline-block;
    line-height: 7rem;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 3rem;
    height: 7rem;
    width: 18rem;
    background-color: grey;
    border-radius: 1rem;
    border: green 0.2rem solid;
    box-sizing: border-box;
}
.bigBtn:hover {
    background-color: rgb(63, 63, 63);
    color: white;
    cursor: pointer;
}
.minecraft {
    font-family: minecraft;
}
.centerForm {
    align-items: center;
    text-align: center;
}
.pokemonImg {
    display: inline;
    max-width: 20rem;
    max-height: 20rem;
    margin: 2rem 0;
}
.flipped {
    transform: scaleX(-1);
}
.leftPokemon {
    display: inline-block;
    max-width: 20rem;
    height: 30rem;
}
.rightPokemon {
    display: inline-block;
    max-width: 20rem;
    height: 30rem;
}
#hereToCenterDivs {
    display: flex;
    justify-content: space-around
}
.battleMsg {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    height: 7rem;
    width: 100%;
    background-color: grey;
    border-radius: 1rem;
    border: green 0.2rem solid;
    box-sizing: border-box;
}
.fakeForm {
    display: inline-block;
    height: 7rem;
    width: 18rem;
}